#di{
    font-size: 60px;
    font-weight:bold;
    color: white;
}
  .nav-menu {
    width:95%;
    height: 50px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
    margin-top:6%;
    margin-left: 50px;
}
.nav-menu .menu ul {
    list-style:none;
    display:flex;
    height:100%;  
}
.nav-menu .menu ul li a {
    text-decoration:none;
    color: rgba(255,255,255,1);
    padding: 1em 1.5em;
    line-height: 1px;
    font-size:15px;
    text-transform: uppercase;
    
}
.nav-menu .menu li a:hover {
    border:2px solid white;
    border-radius: 5px;
}